
@media screen and (max-width: 767px){
	.header{
     padding: 15px 0; 
    }
  .header li{
     font-size: 15px;
    }
	.logo{ 
    width: 100px; display: block; 
  }
	.banner{
     padding-top: 80px; 
    }
  .banner h1{
     font-size: 50px; 
    }
  .banner p{
    
    font-size: 30px; }	
	
  .about_box{
  	margin-right: 100px;
    padding-left: -0px;
    padding-right: 0px;

  }

  .about_box p{
  	font-size: 15px;

  }


  .service_box figure{ 
    float: none; width: auto; margin:0 0 20px;
   }
.text_right{
  display: none;
}
.cards{
position: absolute;
	/* position: absolute; */
	display: grid;
	
	grid-template-columns: repeat(2, 300px);
	grid-gap:  10px;
	pointer-events: none;
  padding-left: 230px;
  margin-top: -90px;
}
.service-title{
  margin-top: -15px;
}
  .nav_icon{
    display: block;
  }
  }
  .nav_icon i{
    float: right;
    color: white;
    padding-top: 30px;
    
    
    
  }


  
  
  
  




